---
const pageTitle = "A propos de moi";

const identity = {
  firstName: "Antoine",
  country: "France",
  occupation: "Stagiaire",
  hobbies: ["Sport", "Jeux vidéos"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Rédaction de documentation"];


const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Accueil</a>
        <a href="/about/">A propos</a>
        <a href="/blog/">Blog</a>

		<h1>{pageTitle}</h1>

        <p>Je suis en train de faire le tutoriel d'Astro.</p>
        <p>J'espere que je vais tout réussir sans problème.</p>


		<p>Voici quelques faits me concernant</p>
		<ul>
			<li>Je m'appel {identity.firstName}.</li>
			<li>Je vis en {identity.country} et je travail en que {identity.occupation}.</li>
			{identity.hobbies.length >= 2 && <li>Deux de mes loisirs sont : {identity.hobbies[0]} et {identity.hobbies[1]} </li>}
		</ul>

		<p>Voici mes compétences</p>
		<ul>
			{skills.map((skill) => <li>{skill}</li>)}
		</ul>

        {happy && <p>Je suis heureux</p>}
        {finished && <p>J ai terminé ce tutoriel</p>}
        {goal === 3 ? <p>Mon objectif est de finir en 3 jours.</p> : <p>Mon objectif n'est pas de 3 jours</p>} <!-- Pas bien compris -->

	</body>
</html>
