---
import '../styles/global.css';
import AboutLayout from '../layouts/AboutLayout.astro';

const pageTitle = "A propos de moi";

const identity = {
  firstName: "Antoine",
  country: "France",
  occupation: "Stagiaire",
  hobbies: ["Sport", "Jeux vidéos"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Rédaction de documentation"];


const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

 <AboutLayout pageTitle = {pageTitle} firstName = {identity.firstName}>

    <style define:vars={{skillColor, fontWeight, textCase}}>
      
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
    <p>Je suis en train de faire le tutoriel d'Astro.</p>
    <p>J'espere que je vais tout réussir sans problème.</p>


    <p>Voici quelques faits me concernant</p>
    <ul>
      <li>Je m'appelle {identity.firstName}</li>
      <li>Je vis en {identity.country} et je travail en tant que {identity.occupation}.</li>
      {identity.hobbies.length >= 2 && <li>Deux de mes loisirs sont : le {identity.hobbies[0]} et les {identity.hobbies[1]} </li>}
    </ul>

    <p>Voici mes compétences</p>
    <ul>
      {skills.map((skill) => <li class ="skill">{skill}</li>)}
    </ul>

    {happy && <p>Je suis heureux</p>}
    {finished && <p>J ai terminé ce tutoriel</p>}
    {goal === 3 ? <p>Mon objectif est de finir en 3 jours.</p> : <p>Mon objectif n'est pas de 3 jours</p>} <!-- Si la valeur de goal est bien 3 alors affiche le 1er sinon affiche le 2eme-->
    
 </AboutLayout>

       
	
            
        


